.onoffswitch-checkbox{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/settings.svg');
  /*padding: 0 10px 0 10px; */
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.onlineSubWrap{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0; 
  text-align: center;
  margin:auto;
  /*color:yellow;*/
  pointer-events: none;
 /* -webkit-text-fill-color: yellow;
  -webkit-text-stroke-color: black;*/
  -webkit-text-stroke-width: 0.02em; 
  z-index:999999;
  line-height: 1em;
}

.onlineSubDashboard{
  font-size: 18px;
  font-family:"Courier New", Courier, monospace;
  position: absolute;
  top:0;
  left:0;
  transition: 2s ease;
  opacity: 1;
  z-index:999999;
  background: rgba(0,0,0,0.4);
  text-shadow: 2px 2px 2px #000;
  color: #fff;
}

.onlineSubDashboard select{
  width: 100px
}
.onlineSubDashboard select:focus {
    overflow: hidden;
    position: relative;
    white-space:nowrap;
}
.onlineSubDashboard input[type='color']{
  width: 50px;
}
.onlineSubDashboard input{
  width: 100px;
}
.onlineSubDashboard input[type='checkbox']{
  width: auto;
}
.onlineSubSettings{
  float: right;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/settings.svg');
  /*padding: 0 10px 0 10px; */
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  padding: 5px;
  cursor:pointer;
}
.onlineSubSettings:hover{
  background-color:black;
}

.onlineSubDashboard input[type='file']{
   display: none;
}
.onlineSubLoadLabel{
  cursor:pointer;
  float:left;
}
.onlineSubLoadLabel div{
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/upload.svg');
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  display:block;
  padding: 5px;
}
.onlineSubLoadLabel div:hover{
  background-color:black;
}

.onlineSubCorOutput {
  color:black;
}

.onlineSubSaveAsGlobal {
  background-color: rgba(0,0,0,.7);
  border: 1px solid white;
  margin: 10px;
}
    